page-first {
    .textarea{
        width: 100%;
    }
    .selector{
        justify-content: center;
        background-color: #ffffff;
        text-align: center
    }
    .body{
        margin: 500;
    }
    .logo{
        height:60px;
        
        
       
    }
}
